tensorflow.keras.application.resnet50
magpylib
numpy
tqdm
scipy
numba
matplotlib
plotly
#random and time are inbuilt python modules
#https://www.tensorflow.org/api_docs/python/tf/keras/applications/resnet50